.aktualnosci-content {
  color: #fff;
  background: #6d7fcc;
  font-family: 'Poppins', monospace;
  width: 100%;
  height: 100vh;
}

.aktualnosci-content .title {
  text-align: center;
  padding-top: 100px;
}

.aktualnosci-content .list {
  text-align: center;
  margin: 50px;
}


.aktualnosci-content ul li {
  font-size: 1.3em;
  margin: 20px auto;
}